.col-span-1 {
  grid-column: span 1 / span 1;
}

.grid-cols-2 {
	grid-template-columns: max-content minmax(0, 1fr);
}

.align-baseline {
	align-items: baseline;
}

.align-center {
	align-items: baseline;
}

.m-0 {
	margin: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mt-05 {
	margin-top: .5rem !important;
}

.mt-1 {
	margin-top: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.p-inline-start-none {
	padding-inline-start: 0 !important;
}

.pl-025 {
	padding-left: .25rem;
}

.pl-1 {
	padding-left: 1rem;
}

.pl-2 {
	padding-left: 2rem;
}

.content.lua-api {
	h2, h3, h4 {
		margin-top: 1rem !important;
		margin-bottom: .5rem !important;
	}

	h5, h6, p, ul, .hextra-code-block {
		margin-top: .5rem !important;
	}

	p {
		line-height: 1.3rem !important;
	}

	h5 {
		font-size: 1.05rem !important;
	}

	dl {
	}

	dt, dd, li {
		margin-top: .25rem !important;
	}

	dd, li {
		margin-bottom: .25rem !important;
	}

	dt, dd {
		margin-bottom: 0 !important;
	}

	.hextra-code-block {
		pre {
			margin-bottom: .5rem !important;
			padding: .5rem !important;
			border-radius: .4rem !important;
		}
	}
}
